/*this is my first stylesheet project made by me for fun and performance!*/

body    {
    background-color: lightskyblue;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
h1  {
    text-align: center;
    color: dodgerblue;
    font-size: 28px;
}
h1:hover    {
    text-decoration: underline;
    color:aliceblue;
}
h2  {
    text-align: center;
    color: dodgerblue;
    font-size: 12px;
}
h2:hover    {
    text-decoration: underline;
    color:aliceblue;
}
h3  {
    text-align: center;
    color: dodgerblue;
    border: 5px solid darkblue;
    /* the property border is made of three properties
    --> border-width: 5px;
        border-style: solid; (required!!!)
        border-color: deepskyblue;
    */
    padding: 40px; /*---> aprox. 1cm and 5mm*/
    border-radius: 5px;
}
h3:hover    {
    text-decoration: underline;
    color: aliceblue;
}
p   {
    text-align: justify;
    letter-spacing: 3px;
    text-indent: 10px;
    color: black;    
}


